<% include ../header.ejs %>

<% include ./sidebar.ejs %>
<div class="col-sm-10">
    <form action="" method="post" enctype="multipart/form-data" id="editForm"> <!-- 이미지 업로드시 파일 타입 -->
     <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
        <table class="table table-bordered">
            <tr>
                <th>제품명</th>
                <td><input type="text" name="name" class="form-control" value="<%=product.name%>"/></td>
            </tr>
            <tr>
                <th>섬네일</th>
                <td>
                    <input type="file" name="thumbnail"/>
                    <% if(product.thumbnail){ %>
                      <a href="/uploads/<%=product.thumbnail%>" target="_blank">업로드 이미지 보기</a>
                    <% } %>
                </td>
            </tr>
            <tr>
                <th>가격</th>
                <td><input type="text" name="price" class="form-control" value="<%=product.price%>"/></td>
            </tr>
            <tr>
                <th>설명</th>
                <td>                                                                                 <!-- <%= %> 있는 것은  html 태그를 그대로 노출, <%- %>붙은건 태그를 제외시킴  -->      
                    <textarea name="description" class="form-control" id="summernote"><%-product.description%></textarea>
                    <!-- <input type="text" name="description" class="form-control" value="<%=product.description%>"/> -->
                </td>
            </tr>
        </table>
        <button class="btn btn-primary">작성하기</button>
    </form>
<div></div>
<!-- 스타일관련 -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.css" rel="stylesheet">
<!-- 자바스크립트관련 -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.js"></script>
<!-- 한글관련 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/lang/summernote-ko-KR.min.js"></script>

<script>
$(document).ready(function(){

   $('#summernote').summernote({
        lang: 'ko-KR',
        height: 300,
        callbacks : {
            onImageUpload: function(files) {
                sendFile(files[0]); // 업로드할 이미지 0번째 1개
            }
        }
    });

    $('#editForm').submit(function(){
        $('input[name=files]').remove();
    });

    function sendFile(file, editor, welEditable) {
        data = new FormData(); // 파일 업로드를 하기 위해 사용
        data.append("thumbnail", file); // 필드명, 파일
        $.ajax({
            data: data,
            type: "POST",
            url: '/admin/products/ajax_summernote/',
            cache: false,
            contentType: false,
            processData: false,
            success: function(url) {
                $('#summernote').summernote("insertImage", url);
            }
        });
    }

});
</script>

<% include ../footer.ejs %>