
<!-- include를 통해 공통부분 작성 -->
<% include ../header.ejs %>
 
   <table class="table table-bordered table-hover">
        <tr>
            <th>제목</th>
            <th>작성일</th>
            <th>삭제</th>
        </tr>
        <% notice.forEach( function(notice){ %>
        <tr>
            <td>
                <a href="/notice/detail/<%=boards.id%>"><%=notice.name%></a>
            </td>
            <td>
                <%=notice.getDate.year%> - 
                <%=notice.getDate.month%> -
                <%=notice.getDate.day%>
                <%=notice.getDate.hour%> : <%=notice.getDate.minute%> : <%=notice.getDate.second%>

            </td>
            <td>
	            <a href="/notice/delete/<%=notice.id%>" class="btn btn-danger" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
            </td>
        </tr>
        <%});%>
    </table>
 
    <a href="/notice/write" class="btn btn-default">작성하기</a>
 
<% include ../footer.ejs %>